<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="contact-header padding-site">
            <div class="header clearfix">
                <a href="index.html"><img src="img/logo.svg" alt="logo" class="logo"></a>
                <ul class="menu">
                    <li class="menu-list"><a href="index.html" class="menu-link">HOME</a></li>
                    <li class="menu-list"><a href="products.html" class="menu-link">PRODUCTS</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list "><a href="#" class="menu-link  menu-link-active">CONTACT</a></li>
                    <li class="menu-list"><a href="#" class="menu-link"><img src="img/search.svg" alt="Поиск"></a></li>
                </ul>
            </div>
            <p class="cont-title">Contact Us</p>
        </div>
        <div class="contact-mid">
            <div class="contact-block">
                <img src="img/blyamba.png" alt="">
                <h2>California</h2>
                <p class="cbp1">Phone:</p>
                <p class="cbp2">1900 - 1234 -5678</p><br>
                <p class="cbp1">Email:</p>
                <p class="cbp2">info@interior.com</p>
                <br>
                <p class="cbp1">Address:</p>
                <p class="cbp3">12 W 1st St, 90001 Los Angeles, California</p>
            </div>
            <div class="contact-block">
                <img src="img/blyamba.png" alt="">
                <h2>California</h2>
                <p class="cbp1">Phone:</p>
                <p class="cbp2">1900 - 1234 -5678</p><br>
                <p class="cbp1">Email:</p>
                <p class="cbp2">info@interior.com</p>
                <br>
                <p class="cbp1">Address:</p>
                <p class="cbp3">12 W 1st St, 90001 Los Angeles, California</p>
            </div>
            <div class="contact-block">
                <img src="img/blyamba.png" alt="">
                <h2>California</h2>
                <p class="cbp1">Phone:</p>
                <p class="cbp2">1900 - 1234 -5678</p><br>
                <p class="cbp1">Email:</p>
                <p class="cbp2">info@interior.com</p>
                <br>
                <p class="cbp1">Address:</p>
                <p class="cbp3">12 W 1st St, 90001 Los Angeles, California</p>
            </div>
        </div>
        <div class="footer">

            <div class="footer-text1">
                <h2>Contact Us</h2>
                <p class="footer-p1">132A Bridge Road Richmond VIC <br> Australia. <br> <br>Talk to us on 1300 132 <br>info@interior.com</p>
            </div>

            <div class="footer-text2">
                <h2>Useful Information</h2>
                <p class="footer-p2">
                    Sales terms<br>
                    Customer care<br>
                    Delivery<br>
                </p>
            </div>
            <div class="footer-text3">
                <p class="footer-p2">
                    Architect accounts<br>
                    Careers<br>
                    Exchanges & returns<br>
                </p>
            </div>
            <div class="footer-text4">
                <h2>Let’s Stay in Touch!</h2>
                <p class="footer-p1">
                    Suscribe to know about our latest news, products and special offers just for suscribers.
                </p>
                <input type="text" placeholder="   your email address" id="email">
                <a href="#" class="aerobutton"><img src="img/aero.png" alt=""></a>
            </div>
            <div class="footer-footer">
                <div class="ffblock1">
                    <h3 class="ffh3">&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</h3>
                </div>

                <div class="ffblock2"><img src="img/social-links.png" alt=""></div>
                <div class="ffblock3">
                    <h3 class="ffh3">Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</h3>
                </div>
            </div>

        </div>
    </div>
</body>

</html>
