<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <title>Интернет магазин</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">

</head>

<body>
    <div class="container">
        <div class="slider padding-site">
            <div class="header clearfix">
                <a href="index.html"><img src="img/logo.svg" alt="logo" class="logo"></a>
                <ul class="menu">
                    <li class="menu-list"><a href="#" class="menu-link menu-link-active">HOME</a></li>
                    <li class="menu-list"><a href="products" class="menu-link">PRODUCTS</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list"><a href="contact.html" class="menu-link">CONTACT</a></li>
                    <li class="menu-list"><a href="#" class="menu-link"><img src="img/search.svg" alt="Поиск"></a></li>
                </ul>
            </div>
            <div class="slider-text">
                <p class="slider-trendind">TRENDING</p>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">Order Us</a>
            </div>
            <div class="pagination">
                <a href="#" class="circle"></a><a href="#" class="circle circle-active"></a><a href="#" class="circle"></a>
            </div>
        </div>
        <div class="main1 padding-site">
            <div class="main1-head">
                <ul class="main1-menu">
                    <li><a href="#" class="main1-link main1-link-active">Featured</a></li>
                    <li><a href="#" class="main1-link">New</a></li>
                </ul>
                <a href="#" class="a-right">explore all</a>
            </div>
            <div class="main1-main">
                <div class="block1"><img src="img/product-1.png" alt="">
                </div>
                <div class="block1"><img src="img/product-2.jpg" alt=""></div>
                <div class="block1"><img src="img/product-3.jpg" alt=""></div>
                <div class="block2"><img src="img/product-4.jpg" alt=""></div>

            </div>
            <div class="block0">
                <a href="#" class="block-link">></a>
                <h2>Fishnet Chair</h2>
                <p>Seat and back with upholstery made of cold cure foam</p>
            </div>
        </div>
        <div class="main2">
            <div class="main2-block1">
                <div class="main2-text">
                    <p class="main2-exc">exclusive</p>
                    <h2>Fishnet Chair</h2>
                    <p class="main2-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="button">Order Us</a>
                </div>
            </div>

            <div class="main2-block2">
                <div class="main2-text">
                    <p class="main2-exc">exclusive</p>
                    <h2>Fishnet Chair</h2>
                    <p class="main2-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="button">Order Us</a>
                </div>
            </div>
        </div>
        <div class="main3 padding-site">
            <div class="main3-head">
                <p class="main3-trpr">Trending Products</p>
                <a href="#" class="a-right">explore all</a>

            </div>
            <div class="main3-main">
                <div class="main3-block"><a href="products-detail.html"><img src="img/product-11.jpg" alt=""></a></div>
                <div class="main3-block"><img src="img/product-21.jpg" alt=""></div>
                <div class="main3-block-r"><img src="img/product-31.jpg" alt=""></div>
                <div class="main3-block"><img src="img/product-41.jpg" alt=""></div>
                <div class="main3-block"><img src="img/product-5.jpg" alt=""></div>
                <div class="main3-block-r"><img src="img/product-6.jpg" alt=""></div>
            </div>
        </div>
        <div class="slider2 padding-site">
            <div class="slider2-text">
                <p class="slider2-hot">Hot deal</p>
                <h2 class="slider-h2">Fishnet Chair</h2>
                <p class="slider-content">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="button">Order Us</a>
            </div>
            <div class="pagination">
                <a href="#" class="circle"></a><a href="#" class="circle circle-active"></a><a href="#" class="circle"></a>
            </div>
        </div>
        <div class="main4 padding-site">
            <div class="main4-block1"></div>
            <div class="main4-block2"><img src="img/product-2-sm.jpg" alt=""></div>
            <div class="main4-block3"><img src="img/product-3-sm.jpg" alt=""></div>
            <div class="main4-block2"><img src="img/product-4-sm.jpg" alt=""></div>
            <div class="main4-block3"><img src="img/product-5-sm.jpg" alt=""></div>
        </div>
        <div class="main5 padding-site">
            <div class="main5-text">
                <p class="main5-p1">mobile app</p>
                <h2>Find. Follow. <br> Favorite.
                </h2>
                <p class="main5-p2">Save your favorites and share your style.</p>
            </div>
            <div class="main5-img">
                <img src="img/app-store.jpg" alt="app-store">
                <img src="img/google-play.jpg" alt="google-play">
            </div>
        </div>
        <div class="footer">
            <div class="footer-text1">
                <h2>Contact Us</h2>
                <p class="footer-p1">132A Bridge Road Richmond VIC <br> Australia. <br> <br>Talk to us on 1300 132 <br>info@interior.com</p>
            </div>

            <div class="footer-text2">
                <h2>Useful Information</h2>
                <p class="footer-p2">
                    Sales terms<br>
                    Customer care<br>
                    Delivery<br>
                </p>
            </div>
            <div class="footer-text3">
                <p class="footer-p2">
                    Architect accounts<br>
                    Careers<br>
                    Exchanges & returns<br>
                </p>
            </div>
            <div class="footer-text4">
                <h2>Let’s Stay in Touch!</h2>
                <p class="footer-p1">
                    Suscribe to know about our latest news, products and special offers just for suscribers.
                </p>
                <input type="text" placeholder="   your email address" id="email">
                <a href="#" class="aerobutton"><img src="img/aero.png" alt=""></a>
            </div>
            <div class="footer-footer">
                <div class="ffblock1">
                    <h3 class="ffh3">&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</h3>
                </div>

                <div class="ffblock2"><img src="img/social-links.png" alt=""></div>
                <div class="ffblock3">
                    <h3 class="ffh3">Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
