<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Products Detail</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div class="container">
        <div class="prod-det-header padding-site">
            <div class="header clearfix">
                <a href="index.html"><img src="img/logo.svg" alt="logo" class="logo"></a>
                <ul class="menu">
                    <li class="menu-list"><a href="index.html" class="menu-link">HOME</a></li>
                    <li class="menu-list"><a href="#" class="menu-link menu-link-active">PRODUCTS</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">HISTORY</a></li>
                    <li class="menu-list"><a href="#" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list "><a href="contact.html" class="menu-link">CONTACT</a></li>
                    <li class="menu-list"><a href="#" class="menu-link"><img src="img/search.svg" alt="Поиск"></a></li>
                </ul>
            </div>
        </div>
        <div class="prod-det-menu">
            <ul>
                <li class="menu-list"><a href="" class="pr-menu-link">All</a></li>
                <li class="menu-list"><a href="" class="pr-menu-link">HOME</a></li>
                <li class="menu-list"><a href="" class="pr-menu-link">OFFICE</a></li>
                <li class="menu-list"><a href="" class="pr-menu-link">FURNITURE</a></li>
                <li class="menu-list"><a href="" class="pr-menu-link">MODERN</a></li>
                <li class="menu-list"><a href="" class="pr-menu-link">CLASSIC</a></li>
            </ul>
        </div>
        <div class="pr-det-main padding-site">
            <div class="prod-det-foto">
                <img src="img/slider1.jpg" alt="">

                <a href="#"><img src="img/controll.jpg" alt=""></a>
                <a href="#"><img src="img/controll11.jpg" alt=""></a>
                <a href="#"><img src="img/controll2.jpg" alt=""></a>
            </div>
            <div class="prod-det-text">
                <p class="pdf-p1">Fishnet Chair</p>
                <h2>Hot Deal</h2>
                <p class="pdf-price">$ 36.7/sq</p>
                <a href="#" class="button">Order Us</a>
                <div class="pdf-text">
                    <p>The majesty of Mountains - Ugmonk style.
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                        <br><br>
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        <br><br>
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
                    </p>
                </div>

            </div>
        </div>
        <div class="pr-det-main3 padding-site">
            <div class="pr-main3-head">
                <p class="main3-trpr">Related Products</p>
                <a href="#" class="a-right">explore all</a>

            </div>
            <div class="main3-main">
                <div class="main3-block"><img src="img/product-11.jpg" alt=""></div>
                <div class="main3-block"><img src="img/product-21.jpg" alt=""></div>
                <div class="main3-block-r"><img src="img/product-31.jpg" alt=""></div>

            </div>
        </div>
        <div class="footer">
            <div class="footer-text1">
                <h2>Contact Us</h2>
                <p class="footer-p1">132A Bridge Road Richmond VIC <br> Australia. <br> <br>Talk to us on 1300 132 <br>info@interior.com</p>
            </div>

            <div class="footer-text2">
                <h2>Useful Information</h2>
                <p class="footer-p2">
                    Sales terms<br>
                    Customer care<br>
                    Delivery<br>
                </p>
            </div>
            <div class="footer-text3">
                <p class="footer-p2">
                    Architect accounts<br>
                    Careers<br>
                    Exchanges & returns<br>
                </p>
            </div>
            <div class="footer-text4">
                <h2>Let’s Stay in Touch!</h2>
                <p class="footer-p1">
                    Suscribe to know about our latest news, products and special offers just for suscribers.
                </p>
                <input type="text" placeholder="   your email address" id="email">
                <a href="#" class="aerobutton"><img src="img/aero.png" alt=""></a>
            </div>
            <div class="footer-footer">
                <div class="ffblock1">
                    <h3 class="ffh3">&copy;&nbsp;Copyright&nbsp;&mdash; INTERIOR 2016. All Rights Reserved.</h3>
                </div>

                <div class="ffblock2"><img src="img/social-links.png" alt=""></div>
                <div class="ffblock3">
                    <h3 class="ffh3">Terms &amp;&nbsp;Conditions&nbsp;/ Privacy policy &amp;&nbsp;Cookies</h3>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
